## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [115]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [156]:
# 1) Seu código aqui

pc_mat = (df_mat * 100) / 24
pc_por = (df_por * 100) / 18
pc_geo = (df_geo * 100) /  8
pc_ing = (df_ing * 100) /  8
pc_his = (df_his * 100) /  8
pc_fis = (df_fis * 100) /  8
pc_qui = (df_qui * 100) /  8
df_geo

    Qt_acertos
0            7
1            0
2            0
3            3
4            2
..         ...
95           7
96           4
97           0
98           3
99           0

[100 rows x 1 columns]

In [123]:
# 2) Seu código aqui
total_acertos = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total_acertos

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [129]:
# 3) Seu código aqui
(total_acertos * 100) / 90

    Qt_acertos
0    38.888889
1    53.333333
2    55.555556
3    35.555556
4    33.333333
..         ...
95   37.777778
96   30.000000
97   44.444444
98   44.444444
99   46.666667

[100 rows x 1 columns]

In [130]:
# 4) Seu código aqui
total_gt_45 = total_acertos[total_acertos['Qt_acertos'] > 45]
total_gt_45.count()

Qt_acertos    31
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [140]:
# seu código aqui
df_eliminados = total_acertos[
    (df_mat['Qt_acertos'] == 0) | 
    (df_fis['Qt_acertos'] == 0) | 
    (df_qui['Qt_acertos'] == 0)
]

df_eliminados

    Qt_acertos
3           32
6           29
10          31
12          42
14          31
20          53
25          27
26          40
27          50
33          39
35          48
49          19
56          39
65          24
66          31
72          50
73          37
74          39
84          26
89          63
92          40
94          25
98          40

In [149]:
# 2- Quantos são esses alunos?
print(f'Total de eliminados: {df_eliminados.shape[0]}')

Total de eliminados: 23

In [163]:
# 3 - Qual a média desses alunos em história e geografia?
df_his + df_geo * 100 / 16 #  media entre as 2 matérias

    Qt_acertos
0        44.75
1         0.00
2         7.00
3        18.75
4        12.50
..         ...
95       47.75
96       26.00
97        4.00
98       23.75
99        6.00

[100 rows x 1 columns]

In [178]:
# 4 - Monte um DataFrame com os alunos que passaram para a segunda fase. 
#    Repare que estes alunos não podem ter sido desqualificados.
total_acertos[
    
    (df_mat['Qt_acertos'] > 0) & 
    (df_fis['Qt_acertos'] > 0) & 
    (df_qui['Qt_acertos'] > 0) &
    (total_acertos['Qt_acertos'] > 45)
]

    Qt_acertos
1           48
2           50
5           50
7           49
8           58
17          52
18          50
24          50
31          54
36          56
37          52
39          49
40          47
42          48
45          48
48          55
60          48
62          46
67          46
70          62
71          53
77          53
78          66
81          55
88          50
93          56

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [197]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-587cb4f5-6a99-4e87-b9c0-988c536d2846.c000.csv'

In [198]:
# 1) Sua solução aqui
df = pd.read_csv(arquivo, sep=';', low_memory=False)
# df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')

In [199]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,9ff97f62-ece8-4ff6-9c9e-6e63a006276f-i0b0,efa3f81bc7e88f644dd0c7e006e105f0bdbe4cbe820289...,32.0,1988-11-11,F,4.0,AMARELA,120070,10,XAPURI,...,2.0,Faixa Etária,210198,ASTRAZENECA,Organization/29909,2021-08-25,2ª Dose,89,COVID-19 ASTRAZENECA - ChAdOx1-S,Novo PNI
1,24f0228b-b3ef-418e-a752-3dd760390219-i0b0,f9920b3f86ecce123479664d091e060bc1c156b7afcea2...,60.0,1961-10-24,M,3.0,PARDA,120040,10,RIO BRANCO,...,1.0,Comorbidades,217VCD239Z,ASTRAZENECA/FIOCRUZ,Organization/149,2022-01-19,Reforço,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
2,cbffb062-36f7-425d-9531-0e508c813c47-i0b0,0e9a0dd31380a1b63fe7ed23fd72e6d7246d8389f843b4...,53.0,1967-12-24,F,3.0,PARDA,120010,10,BRASILEIA,...,2.0,Faixa Etária,215VCD120W,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-06-18,1ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
3,25069d59-5d14-40e8-9b9c-e4c97eb88fda-i0b0,6d2d672b7c670d6546db0f90ccb69f39fc8549c56c1832...,26.0,1994-09-07,F,1.0,BRANCA,120040,10,RIO BRANCO,...,21.0,Gestantes,FC2495,PFIZER,Organization/00394544000851,2021-06-21,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
4,09e41ae9-32b3-42e8-80ab-7d193ff7b7dd-i0b0,14087041a341c63d25c82cec959bf0b886a4e91473c437...,21.0,2000-02-08,F,4.0,AMARELA,120040,10,RIO BRANCO,...,2.0,Faixa Etária,FF5107,PFIZER,Organization/00394544000851,2021-09-24,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

In [200]:
df.shape[0]

554728

In [201]:
# 2) 
df['paciente_id'].nunique()

418823

In [202]:
# 3) 
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

190764

In [203]:
# 3) solução alternativa
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

190764

In [204]:
# 4) 
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique() # Quantidade de pessoas vacinadas menores de 18 anos.

79010

In [211]:
# 5)
# df.info() # verificando os nomes das colunas se estão corretos.

df['estabelecimento_razaoSocial'].nunique() # Traz a quantidade de estabelecimentos comerciais únicos.

49

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vacinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [218]:
# 1) 
df_menor = df[df["paciente_idade"]<18].copy()

In [219]:
# 2) 
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [220]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

Faixa Etária                                      52044
Outros                                             6160
Povos Indígenas                                    2451
Povos e Comunidades Tradicionais                    588
Trabalhadores de Saúde                              395
População Privada de Liberdade                       69
Comorbidades                                         49
Gestantes                                            31
Pessoas com Deficiência                               3
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Trabalhadores da Educação                             1
Name: vacina_categoria_nome, dtype: int64

In [228]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]
df_menor_lista

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
13,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
14,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
16,7247435,PREFEITURA MUNICIPAL DE SAUDE,UNIDADE DE SAUDE DA FAMILIA RAIMUNDO CELSO LIM...,120020,CRUZEIRO DO SUL,AC
27,2000040,PREFEITURA MUNICIPAL DE FEIJO,CENTRO DE SAUDE DIAMANTINO MACEDO,120030,FEIJO,AC
28,2000040,PREFEITURA MUNICIPAL DE FEIJO,CENTRO DE SAUDE DIAMANTINO MACEDO,120030,FEIJO,AC
...,...,...,...,...,...,...
554703,2002132,PREFEITURA MUN DE MAL THAUMATURGO,ESF RIBEIRINHA DR NALDIR MARIANO,120035,MARECHAL THAUMATURGO,AC
554705,2002922,SECRETARIA MUNICIPAL DE SAUDE,U S F JOAO DE DEUS,120038,PLACIDO DE CASTRO,AC
554717,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
554719,2002132,PREFEITURA MUN DE MAL THAUMATURGO,ESF RIBEIRINHA DR NALDIR MARIANO,120035,MARECHAL THAUMATURGO,AC
554725,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC

In [229]:
# 5)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(113, 6)